body {
  background-color: black;
  color: lightgrey;
  font-size: 50px;
}

button {
  font-size: 36px;
}

.moodbutton {
  font-size: 50px;
}

textarea {
  width: 100%;
  height: auto;
  font-size: 36px;
}

#controlgrid {
  height: 30vh; /* https://stackoverflow.com/questions/1575141/how-to-make-a-div-100-height-of-the-browser-window */
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  grid-auto-flow: column; /* or 'row', 'row dense', 'column dense' */
}

#bigtextgrid {
  grid-column: 2 / span 2;
}

#submitetcgrid {
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  grid-auto-flow: column; /* or 'row', 'row dense', 'column dense' */
}

#moodgrid {
  height: 52vh; /* https://stackoverflow.com/questions/1575141/how-to-make-a-div-100-height-of-the-browser-window */
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(7, 1fr) / repeat(14, 1fr);
  grid-auto-flow: column; /* or 'row', 'row dense', 'column dense' */
}

#dategrid {
  height: 10vh;
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(1, 1fr) / repeat(14, 1fr);
  grid-auto-flow: column;
}

.date {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 32px;
}

#logsbuttongrid {
  height: 5vh;
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  grid-auto-flow: column;
}

.center {
  text-align: center
}

.expandheight {
  height: 100%;
}

.nocolor {
  background-color: transparent;
}

.neutral {
  background-color: white;
}

.hot1 {
  background-color: pink;
}

.hot2 {
  background-color: lightcoral;
}

.hot3 {
  background-color: red;
}

.cold1 {
  background-color: #94c5ff;
}

.cold2 {
  background-color: #0092ff;
}

.cold3 {
  background-color: #1a32af;
}
