body {
  background-color: black;
  color: lightgrey;
}

#grid {
  height: 60vh; /* https://stackoverflow.com/questions/1575141/how-to-make-a-div-100-height-of-the-browser-window */
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(7, 1fr) / repeat(31, 1fr);
  grid-auto-flow: column; /* or 'row', 'row dense', 'column dense' */
}

.nocolor {
  background-color: transparent;
}

.neutral {
  background-color: white;
}

.hot1 {
  background-color: pink;
}

.hot2 {
  background-color: lightcoral;
}

.hot3 {
  background-color: red;
}

.cold1 {
  background-color: #94c5ff;
}

.cold2 {
  background-color: #0092ff;
}

.cold3 {
  background-color: #1a32af;
}
